doctype html
html(lang="en")
    head
        title TITLE WITH PUG
        meta(charset='utf-8')
        link(rel='style' href='./css/style.css')
    body
        h1= pageheading
        block content
        script(src='./js/main.js')